{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>FixMyDevice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>
<h1>FixMyDevice</h1>
<p>
    Заказ номер {{ order.id }}</br>
    <span class="secondary">
{{ order.created|date:"M d, Y" }}
</span>
</p>
<h3>Акт о приеме</h3>
<p>
    {{ order.client_name }}<br>
    {{ order.phone }}<br>
    {{ order.device_type }} {{ order.brand }} {{ order.model }}<br>
    {{ order.malfunction }}<br>
</p>
</body>
</html>