
   hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: orange; /* Цвет линии для остальных браузеров */
    background-color: orange; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
   }


  .datetime-container{
    width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
  }